   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    

}

.h1 {
        text-align: center;
        color: rgb(24, 15, 145);
        font-size: 2rem;
        padding: 0;
        margin-top: 1rem;
}
.if {
 color: solid;
}
.cover {
    object-fit: cover;
    height: 100%;
}


   
  

   
.nav__logo {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 35px;
}


      





   
.ofertas__destacadas1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    margin: auto;
    margin-top: 20px;
}
 
.ofertas__destacadas2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 
.ofertas__destacadas3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 

.ofertas__centroytexto {
    justify-content: center;
    text-align: center;
    
}

.ofertas__imagenes{
 
    display: flex;
    margin: auto;
    height: 150px;
    width: 150px;
    object-fit: contain;
    
    

    
}
.link {
    text-decoration: none;
    padding-top: 0;
    
}
.texto {
    text-align: center;
     margin-top: 5px;
}

.descuentos {
    position: absolute;
    top: 0;
    left: 20%;
}


.marcas {
    text-align: center;
    font-size: 2rem;
}
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

 @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


/* aqui comienza el footer*/

.copy {
        color: darkgray;
    
}

/* aqui termina el index*/

/*aqui comienza la pagina electrpdpmesticos*/

.electrotitulo1 {
        
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.electrotitulo2 {
 
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}
    
.electrotitulo3 {
     
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.electrotitulo4 {
     margin-top: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.titulos {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    color: white;
    background: rgb(2,0,36);
   
    margin: auto;
    margin-top: 20px;
  }
 









/* MEDIAQUERY*/
@media (max-width: 1023px) {
    .marcas {
        text-align: center;
        font-size: 1.5rem;
    }
    .h1 {
        font-size: 2rem;
}
.ofertas__destacadas1 {
        font-size: 16px;

}
.ofertas__destacadas2 {
        font-size: 16px;

}
.ofertas__destacadas3 {
        font-size: 16px;

}

.electrotitulo1 {
        font-size: 16px;
}
.electrotitulo2{
        font-size: 16px;
}
.electrotitulo3 {
        font-size: 16px;
}
.electrotitulo4 {
        font-size: 16px;
}



    .focus-in-contract-bck {
        -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
                animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    }
    
     @-webkit-keyframes focus-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(300px);
                  transform: translateZ(300px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(12px);
                  transform: translateZ(12px);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes focus-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(300px);
                  transform: translateZ(300px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(12px);
                  transform: translateZ(12px);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      
}


@media (max-width: 600px) {
    .marcas {
        text-align: center;
        font-size: 0.5rem;
    }
    .h1 {
            font-size: 1rem;
    }
    .ofertas__destacadas1 {
        font-size: 12px;

}
.ofertas__destacadas2 {
        font-size: 12px;

}
.ofertas__destacadas3 {
        font-size: 12px;

}
.electrotitulo1 {
        font-size: 12px;
}
.electrotitulo2{
        font-size: 12px;
}
.electrotitulo3 {
        font-size: 12px;
}
.electrotitulo4 {
        font-size: 12px;
}
    .focus-in-contract-bck {
        -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
                animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    }
    
     @-webkit-keyframes focus-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(300px);
                  transform: translateZ(300px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(12px);
                  transform: translateZ(12px);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes focus-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(300px);
                  transform: translateZ(300px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(12px);
                  transform: translateZ(12px);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      
}




    



