.succes{
    display: flex;
    flex-flow: column nowrap;
    padding:1.5rem 3rem;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

}

.succes_text{
    font-size: 3vw;
    color: red;
    text-align: center;
}

.succes_icon{
    width: 5.5rem;
    margin-bottom: 2.3rem;
}

.succes_btn{
    padding: 1rem 0;
    width: 70%;
    font-size: 2vw;
    border-radius: 20px;
    border: none;
    background-color: rgb(97, 3, 3);
    color: white;
}

.succes_btn:hover{
    background-color: red;
    cursor: pointer;
}

.succes_btn:active{
    transform: scale(1.1);
    transition: .5s;
}

.none{
    display: none;
}

@media screen and (max-width: 770px){
    .succes_text{
        font-size: 4vw;
    }

    .succes_icon{
        width: 12vw;
        margin-bottom: 2rem;
    }

    .succes_btn{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px){
    .succes{
        height: 25vh;
    }

    .succes_text{
        font-size: 4.5vw;
    }
}