   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    

}
.header {


    
}

.cover {
    object-fit: cover;
    height: 100%;
}



   
.logo__logo {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 35px;
}


      






.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin: auto;
  
}

.banner__imagen {
    width: 100%;
    height: 300px;
    justify-content: center;
    object-fit: contain;
    

   
  
}
   
.ofertas__destacadas1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    margin: auto;
    margin-top: 20px;
}
 
.ofertas__destacadas2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 
.ofertas__destacadas3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 

.ofertas__centroytexto {
    justify-content: center;
    text-align: center;
    
}

.ofertas__imagenes{
 
    display: flex;
    margin: auto;
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color:lightgrey;
    

    
}

.texto {
    text-align: center;
     margin-top: 5px;
}

.descuentos {
    position: absolute;
    top: 0;
    left: 20%;
}


 

 .servicios {
    height: 240px;
    font-size: 15px;
    font-style: italic;
    margin: auto;
    margin-top: 20px;
    gap: 5px;

}

.servicios__asesoramiento {
    height: 180px;
    width: 50%;
    background-color: black;
    position: relative;
}

.servicios__postventa {
    height: 180px;
    width: 50%;
    background-color: black;
    position: relative;
}

.servicios__imagenes {
    width: 50%;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
object-fit: cover;
} 




/* aqui comienza el footer*/

.politicas {
    font-size: small;
    padding-top: 1rem;
}

/* aqui termina el index*/

/*aqui comienza la pagina electrpdpmesticos*/

.electrotitulo1 {
        
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.electrotitulo2 {
 
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}
    
.electrotitulo3 {
     
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.electrotitulo4 {
     margin-top: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.titulos {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    color: white;
    background: rgb(2,0,36);
   
    margin: auto;
    margin-top: 20px;
  }
 




/*aqui comienza la pagina login y registro*/

.registrogrid {
    display: grid;
    grid-template-columns:  repeat(2, fr);
    grid-template-rows: repeat(8, fr); 
    margin: auto;
    transform: translateY(150px);
    width: 80%;
    justify-content: center;
    text-align: center;
   
}

.tituloreg {
    
    text-align: center;
}
.tituloreg1 {
   
}
.logingrid {
    justify-content: center;
}
.login {
    margin-top: 25px;
  
    justify-content: center;
}

.login__usuario {
    justify-content: center;

   
}

.login__contraseña {
 
  
}

.login__contraseña1 {
    
}



.enviar {
   
    
}
.separacion {
    margin-top: 20px;
}


/* MEDIAQUERY*/




    



