   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;

}


.nav {
  
width: 100%;
max-width: 1601px;
margin: auto;
 
    
}

.contenedor {
    width: 100%;
    max-width: 1600px;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 55% 5% 20%;
    grid-template-rows: repeat(2, fr);
    background-color: rgb(251, 244, 244);
 z-index: 1;
   
    
    margin: auto;
    position: fixed;
    justify-content: center;
    top: 0;
    grid-template-areas: 
    "ele1 ele2 ele3 ele4"
    "ele5 ele5 ele5 ele5"
    ;
  
    
    
    
 }

 .contenedor  .logo {
grid-area: ele1;
    margin-top: auto;
}

.contenedor .buscador {
    grid-area: ele2;
    margin-top: auto;
  
}

.contenedor .telefono {
    grid-area: ele3;
    margin-top: auto;
   
}

.contenedor .registro {
    grid-area: ele4;
    margin-top: auto;
}

.contenedor .secciones {
    grid-area: ele5;
    margin-top: auto;
}

.logo {

}
   
.logo__logo {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 35px;
}

.buscador {
    
    height: 40px;
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: center
}

.buscador__recuadro {
    height: 40px;
    width: 450px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 1px solid #154c79;
    border-radius: 30px;
  
}

.buscador__boton {
    height: 30px ;
}
.tipito {
    width: 20px;
    height: 20px;
}
.registro {
    display: flex;
    gap: 5px;
    margin: auto;
  
        
      
}

.telefono {
    margin-top: 15px;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.redes__telefono--logowhatsapp {
    width: 50px;
    height: 50px;
    padding: auto;
    
}

.registro__login {
        
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 20px;
}

.registro__registro {
    
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.secciones {
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    height: 35px;
    align-items: center;
    margin-top: 10px;
    background-color: #a61212;
}
    
.secciones__link {
    text-decoration: none;
    color: white;
    font-size: 22px;
    width: 100%;
    text-align: center;
}
/* aqui comienza el main */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.banner__imagen {
    width: 100%;
    height: 300px;
    justify-content: center;
   
    margin-top: 100px;
}
   
.ofertas__destacadas1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    margin: auto;
    margin-top: 40px;
}
 
.ofertas__destacadas2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 
.ofertas__destacadas3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 
.destacados {
    
    width: 80%;
    max-width: 1600px;
    margin: auto;
    list-style-type: none;
    display:grid;
    grid-template-rows: 5 fr;
    grid-template-columns: repeat(5, fr);
    height: 210px;
    margin-top: 50px;
    justify-content: space-evenly;
    gap: 50px;
    object-fit: cover;
    position: relative;
   
}    
   
.destacados .img1 {
    grid-column: 1 / 2;
}

.destacados .img2 {
    grid-column: 2 / 3;
}

.destacados .img3 {
    grid-column: 3 / 4;
}

.destacados .img4 {
    grid-column: 4/ 5;
}

.destacados .img5 {
    grid-column: 5 / 6;
}

.destacados .img6 {
    grid-column: 6 / 7;
}

.destacados__imagenes1 {
 
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 150px;
    object-fit: cover;
    
}

.texto {
    text-align: center;
     margin-top: 5px;
}

.descuentos {
    position: absolute;
    top: 0;
}

.marcasdestacadas {
    margin-left: 20%;
    margin-top: 100px;
    font-size: 20px;
    text-transform: uppercase;
    color: #a61212;
    width: 90%;
    max-width: 1600px;
}

.marcas {
    display: grid;
    
    gap: 10px;
    width: 90%;
    max-width: 1600px;
    margin: auto;
    margin-top: 50px;
    object-fit: cover;
    position: relative;
    grid-template-columns:20% 20% 30% 20% ;
    grid-template-rows: 150px 150px;
    justify-content: center;
   
 
    grid-template-areas: 
    "ele1 ele2 ele3 ele4"
    "ele5 ele6 ele7 ele8";
    
}
.marcas__1 {
    position: relative;
    object-fit: cover;
}

.marcas__imagen {
    width: 100%;
    height: 100%;
    position: relative;
 
}

.marcastexto {
    position: absolute;
    top: 0;
    background-color: #a61212;
    color: white;
    width: 120px;
    text-align: center;
    margin: auto;
 }

.marcas__1--1 {
grid-area: ele1;

}
.marcas__1--2 {
    grid-area: ele2;
    
}
.marcas__1--3 {
    grid-area: ele3;
    
}
.marcas__1--4 {
    grid-area: ele4;
    
}
.marcas__1--5 {
    grid-area: ele5;
    
}
.marcas__1--6 {
    grid-area: ele7;
    
}
.marcas__1--7 {
    grid-area: ele6;
    
}
.marcas__1--8 {
    grid-area: ele8;
    
}

 

 .servicios {
    height: 240px;
    display: flex;
    width:90% ;
     
    font-size: 15px;
    font-style: italic;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px; 
    gap: 5px;
}

.servicios__asesoramiento {
    height: 180px;
    width: 50%;
    background-color: black;
    position: relative;
}

.servicios__postventa {
    height: 180px;
    width: 50%;
    background-color: black;
    position: relative;
}

.servicios__imagenes {
    width: 50%;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
object-fit: cover;
} 

.descripcion {
    height: 150px;
    display: flex;
    justify-content: space-around;

}
.descripcion__1 {
    color: white;
    font-size: 12px;
    width: 50%;
    height: 180px;
    text-align: center;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
position: absolute;
top: 0;
right: 0;
}

.descripcion__2 {
    color: white;
    font-size: 12px;
    width: 50%;
    height: 180px;
    text-align: center;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
position: absolute;
top: 0;
right: 0;
}

.post__titulo {
    text-transform: uppercase;
    color: #234EB1;
    font-style: normal;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 10px;
    right: 1%;
    text-align: center;
    width: 50%;
}
.post__titulo1 {
    text-transform: uppercase;
    color: #234EB1;
    font-style: normal;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 10px;
    right: 1%;
    text-align: center;
    width: 50%;
}
  
/* aqui comienza el footer*/

.redes {
    width: 100%;
    max-width: 1600px;
    height: 80px;
    background-color: black;
    margin: auto;
    color: white;
    display: flex;
    margin-top: 200px;
}

.redes__copy { 
    font-size: 14px;
    margin: auto;
    width: 50%;
    padding-top: 10px;
}



.redes__icono {
    display: flex;
    
    
   
   
   
}

.redes__icono1 {
    width: 30px;
    height: 30px;
   
   
}

.redes__icono2 {
    width: 30px;
    height: 30px;
    
}

.redes__icono3 {
    width: 30px;
    height: 30px;
    
}

/* aqui termina el index*/

/*aqui comienza la pagina electrpdpmesticos*/

.electrotitulo1 {
        
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.electrotitulo2 {
   margin-top: 190px; 
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}
    
.electrotitulo3 {
     
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.electrotitulo4 {
     margin-top: 190px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
}

.titulos2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    color: white;
    background: rgb(2,0,36);
    transform: translateY(125px);
    margin: auto;
  }
  .titulos {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    color: white;
    background: rgb(2,0,36);
    
    margin: auto;

  }

.destacados1 {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    
    display:grid;
    grid-template-rows: 6 fr;
    grid-template-columns: repeat(7, fr);
  justify-content: space-around;
    height: 210px;
    margin-top: 150px;
  
    gap: 20px;
}  
.destacados2 {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    
    display:grid;
    grid-template-rows: 6 fr;
    grid-template-columns: repeat(7, fr);
  justify-content: space-around;
    height: 210px;
    margin-top: 25px;
  
    gap: 20px;
}  
.destacados1 .img1 {
    grid-column: 1 / 2;
}

.destacados1 .img2 {
    grid-column: 2 / 3;
}

.destacados1 .img3 {
    grid-column: 3 / 4;
}

.destacados1 .img4 {
    grid-column: 4/ 5;
}

.destacados1 .img5 {
    grid-column: 5 / 6;
}

.destacados1 .img6 {
    grid-column: 1 / 2;
}
.destacados1 .img7 {
    grid-column: 2 / 3;
}
.destacados1 .img8 {
    grid-column: 3 / 4;
}
.destacados1 .img9 {
    grid-column: 4 / 5;
}.destacados1 .img10 {
    grid-column: 5 / 6;
}
.destacados2 .img1 {
    grid-column: 1 / 2;
}

.destacados2 .img2 {
    grid-column: 2 / 3;
}

.destacados2 .img3 {
    grid-column: 3 / 4;
}

.destacados2 .img4 {
    grid-column: 4/ 5;
}

.destacados2 .img5 {
    grid-column: 5 / 6;
}

.destacados2 .img6 {
    grid-column: 1 / 2;
}
.destacados2 .img7 {
    grid-column: 2 / 3;
}
.destacados2 .img8 {
    grid-column: 3 / 4;
}
.destacados2 .img9 {
    grid-column: 4 / 5;
}.destacados2 .img10 {
    grid-column: 5 / 6;
}
.tabla1 {
    margin-top: 50px;
   
}   

.tabla2 {
    margin-top: 50px;
}

.tabla3 {
    margin-top: 50px;
}

.tabla4 {
    margin-top: 50px;
}

.redes1 {
     width: 100%;
     max-width: 1600px;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 300px;
}

/*aqui comienza la pagina login y registro*/

.registrogrid {
    display: grid;
    grid-template-columns:  repeat(2, fr);
    grid-template-rows: repeat(8, fr); 
    margin: auto;
    transform: translateY(150px);
    width: 80%;
    justify-content: center;
    text-align: center;
   
}

.tituloreg {
    
    text-align: center;
}
.tituloreg1 {
   
}
.logingrid {
    justify-content: center;
}
.login {
    margin-top: 25px;
  
    justify-content: center;
}

.login__usuario {
    justify-content: center;

   
}

.login__contraseña {
 
  
}

.login__contraseña1 {
    
}



.enviar {
   
    
}
.separacion {
    margin-top: 20px;
}


/* MEDIAQUERY*/

@media screen and (max-width: 1023px) {
   
    .nav {
  
        width: 100%;
        max-width: 1023px;
        margin: auto;
         
            
        }

    .contenedor {
        width: 100%;
        max-width: 1023px;
        height: 100px;
        display: grid;
        grid-template-columns: 15% 52.5% 7.5% 30%;
        grid-template-rows: repeat(2, fr);
        background-color: rgb(251, 244, 244);
     z-index: 1;
       
        
        margin: auto;
        position: fixed;
        justify-content: center;
        top: 0;
      }
      .buscador {
    
        height: 40px;
        width: 100%;
      
        display: flex;
     
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }
      .buscador__recuadro {
        height: 35px;
        width: 80%;
       
        font-size: 16px;
        outline: none;
        border: 1px solid #154c79;
        border-radius: 30px;
        align-self: center;
      
    }
    .logo__logo {
        width: 80px;
        height: 40px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .tipito {
        width: 15px;
        height: 15px;
    }
    .registro {
        display: flex;
        gap: 5px;
        margin: auto;
        width: 80%;
    justify-content: right;
            
          
    }
    
  
    .telefono {
      
        text-decoration: none;
        justify-content: center;
        display: flex;
    }
    .redes__telefono--logowhatsapp {
        width: 75%;
        height: 75%;
        justify-content: center;
        align-items: center;
        
    }
    
    .registro__login {
            
        text-decoration: none;
        color:black;
        font-weight: bolder;
        font-size: 16px;
    }
    
    .registro__registro {
        
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 16px;
    }





      .secciones {
        font-size: 10px;
        letter-spacing: 0.5px;
        width: 100%;
        display: flex;
        
        border-top: 1px solid white;
        height: 35px;
       
        margin-top: 10px;
        background-color: #a61212;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .secciones__link {
        text-decoration: none;
        color: white;
        font-size: 13px;
        width: 90%;
        text-align: center;
        margin: auto;
       
        
    }
    .banner__imagen {
        width: 100%;
        height: 175px;
        justify-content: center;
       
        margin-top: 100px;
    }
    .ofertas__destacadas1 {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        
        color: white;
        background: rgb(2,0,36);
        width: 55%;
        margin: auto;
        margin-top: 30px;
    }
     
    .ofertas__destacadas2 {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        color: white;
        background: rgb(2,0,36);
        width: 55%;
        
    }
     
    .ofertas__destacadas3 {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        color: white;
        background: rgb(2,0,36);
        width: 55%;
        
    }
     
    .destacados {
        
        width: 80%;
        max-width: 1023px;
        margin: auto;
        list-style-type: none;
        display:grid;
        grid-template-rows: 1 fr;
        grid-template-columns: repeat(5, fr);
        height: 100px;
        margin-top: 25px;
        justify-content: space-evenly;
        gap: 15px;
        align-items: center;
       
        position: relative;
       
    }    
       
    .destacados .img1 {
        grid-column: 1 / 2;
    }
    
    .destacados .img2 {
        grid-column: 2 / 3;
    }
    
    .destacados .img3 {
        grid-column: 3 / 4;
    }
    
    .destacados .img4 {
        grid-column: 4/ 5;
    }
    
    .destacados .img5 {
        grid-column: 5 / 6;
    }
    
    .destacados .img6 {
        grid-column: 6 / 7;
    }
    
    .destacados__imagenes1 {
     
        display: flex;
        justify-content: space-around;
        height: 100px;
        width: 100px;
       
        
    }
    
    .texto {
        text-align: center;
         margin-top: 5px;
    }
    
    .descuentos {
        position: absolute;
        top: 0;
        width: 30px;
        height: 30px;
    }
    .marcasdestacadas {
        margin-left: 20%;
        margin-top: 50px;
        font-size: 20px;
        text-transform: uppercase;
        color: #a61212;
        width: 90%;
        max-width: 1600px;
    }
    
    .marcas {
        display: grid;
        
        gap: 10px;
        width: 100%;
        max-width: 1023px;
        margin: auto;
        margin-top: 20px;
        object-fit: cover;
        position: relative;
        grid-template-columns:20% 20% 30% 20% ;
        grid-template-rows: 120px 120px;
        justify-content: center;
       
     
        grid-template-areas: 
        "ele1 ele2 ele3 ele4"
        "ele5 ele6 ele7 ele8";
        
    }
    .marcas__1 {
        position: relative;
        object-fit: cover;
    }
    
    .marcas__imagen {
        width: 100%;
        height: 100%;
        position: relative;
     
    }
    
    .marcastexto {
        position: absolute;
        top: 0;
        background-color: #a61212;
        color: white;
        width: 70%;
        text-align: center;
        margin: auto;
     }
   

   
    .redes__copy { 
        font-size: 10px;
        margin-top: 20px;
        margin-left: 2%;
        width: 50%;
    }
    
 
    
  
    
    .redes__icono {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
    .redes__icono1 {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        
    }
    
    .redes__icono2 {
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    
    .redes__icono3 {
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .redes {
        width: 100%;
      margin-top: 800px;
        height: 80px;
        background-color: black;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }
  
    /*otras paginas */
    .electrotitulo1 {
        
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 12px;
        
    }
    
    .electrotitulo2 {
       margin-top: 190px; 
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black; 
        font-size: 12px;
    }
        
    .electrotitulo3 {
         
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black; 
        font-size: 12px;
    }
    
    .electrotitulo4 {
         margin-top: 130px;
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black; 
        font-size: 12px;
    }
    
    .titulos2 {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        color: white;
        background: rgb(2,0,36);
        transform: translateY(125px);
        margin: auto;
      }
      .titulos {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        color: white;
        background: rgb(2,0,36);
        
        margin: auto;
    
      }
    
    .destacados1 {
        width: 100%;
        max-width: 1023px;
        margin: auto;
        
        display:grid;
        grid-template-rows: 2 fr;
        grid-template-columns: repeat(5, fr);
      justify-content: space-around;
        height: 130px;
        margin-top: 150px;
      
        gap: 10px;
    }  
    .destacados2 {
        width: 100%;
        max-width: 1023px;
        margin: auto;
        
        display:grid;
        grid-template-rows: 6 fr;
        grid-template-columns: repeat(7, fr);
      justify-content: space-around;
        height: 180px;
        margin-top: 25px;
      
        gap: 10px;
    }  
    .registrogrid {
        display: grid;
        grid-template-columns:  repeat(2, fr);
        grid-template-rows: repeat(8, fr); 
        margin: auto;
        transform: translateY(150px);
        width: 80%;
        justify-content: center;
        text-align: center;
        
       
    }
    
    .tituloreg {
        
        text-align: center;
    }
    .tituloreg1 {
       
    }
    .logingrid {
        justify-content: center;
    }
    .login {
        margin-top: 25px;
      
        justify-content: center;
    }
    
    .login__usuario {
        justify-content: center;
    
       
    }
    
    .login__contraseña {
     
      
    }
    
    .login__contraseña1 {
        
    }
    
    
    
    .enviar {
       
        
    }
    .separacion {
        margin-top: 10px;
    }








}
@media screen and (max-width: 599px) {

    .nav {
  
        width: 100%;
        max-width: 599px;
        margin: auto;
         
            
        }
        
        .contenedor {
            width: 100%;
            max-width: 599px;
            height: 100px;
            display: grid;
            grid-template-columns: 25% 30% 45%;
            grid-template-rows: repeat(3, fr);
            background-color: rgb(251, 244, 244);
            z-index: 1;
            justify-content: center;
            position: fixed;
            top: 0;
            grid-template-areas: 
            "ele1 ele2 ele3"
            "ele4 ele4 ele4"
            "ele5 ele5 ele5";
          
            
            
            
         }
        
         .contenedor  .logo {
            grid-area: ele1;
            margin-top: auto;
        }
        
        .contenedor .buscador {
            grid-area: ele4;
            margin-top: auto;
          
        }
        
        .contenedor .telefono {
            grid-area: ele2;
            margin-top: auto;
           

           
        }
        
        .contenedor .registro {
        grid-area: ele3;
            margin-top: auto;
            margin: auto;
            
        }
        
        .contenedor .secciones {
            grid-column: ele5;
            margin-top: auto;
        }
        
        .logo {
        margin: auto;
        grid-area: ele1;
        }
           
        .logo__logo {
            width: 40x;
            height: 40px;
           
        }
        
        .buscador {
            
            height: 40px;
            width: 100%;
            max-width: 100%;
            display: flex;
            border-top: 0.2px solid black;
            border-bottom: 0.2px solid black;
        
        
            
        }
        
        .buscador__recuadro {
            height: 20px;
            width: 200px;
          
            font-size: 12px;
            outline: none;
            border: 1px solid #154c79;
            border-radius: 30px;
            
          
        }
        
        .buscador__boton {
            height: 20px ;
        }
        .telefono {
           
            text-decoration: none;
            justify-content: center;
            display: flex;
            padding-left: 50px;
            margin: auto;
        }
        
        .redes__telefono--logowhatsapp {
            width: 25px;
            height: 25px;
          
          
           
            
        }  
        .tipito {
            width: 16px;
            height: 16px;
           
        }
        .registro {
            display: flex;
            gap: 4px;
           
            grid-area: ele3;
            width: 70%;
           
           padding-right: 20px;
                
              
        }
        
      
        
        .registro__login {
                
            text-decoration: none;
            color:black;
            font-weight: bolder;
            font-size: 12px;
           
        }
        
        .registro__registro {
            
            text-decoration: none;
            color: black;
            font-weight: bolder;
            font-size: 12px;
            
        }
        
        .secciones {
            font-size: 8px;
            
            width: 100%;
          
           
            border-top: 1px solid white;
            height: 25px;
          display: flex;
            
            background-color: #a61212;
            align-items: center;
            justify-content: space-around;
            margin: auto;
         
            
          
        }
            
        .secciones__link {
            text-decoration: none;
            color: white;
            font-size: 8px;
            width: 100%;
            justify-content: space-around;
            margin: auto;
           
           
          
        }
        .banner {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 599px;
            margin: auto;
        }
        
        .banner__imagen {
            width: 100%;
            height: 120px;
            justify-content: center;
           
            margin-top: 110px;
        }
        .ofertas__destacadas1 {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            margin: auto;
            margin-top: 20px;
            color: white;
            background: rgb(2,0,36);
            width: 80%;
        }
         
        .ofertas__destacadas2 {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            margin: auto;
            margin-top: 10px;
            color: white;
            background: rgb(2,0,36);
            width: 80%;
            
        }
         
        .ofertas__destacadas3 {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            margin: auto;
            margin-top: 10px;
            color: white;
            background: rgb(2,0,36);
            width: 80%;
            
        }
         
        .destacados {
            
            width: 80%;
            max-width: 599px;
            margin: auto;
            list-style-type: none;
            display:grid;
            grid-template-rows: 2 fr;
            grid-template-columns: repeat(3, fr);
            height: 250px;
            margin-top: 10px;
            justify-content: space-evenly;
            gap: 8px;
            object-fit: cover;
            position: relative;
            grid-template-areas: 
            "ele1 ele2 ele3"
            "ele4 ele5 ele6";
           
        }    
           
        .destacados .img1 {
            grid-area: ele1;
            position: relative;
        }
        
        .destacados .img2 {
            grid-area: ele2;
            position: relative;
        }
        
        .destacados .img3 {
            grid-area: ele3;
            position: relative;
        }
        
        .destacados .img4 {
            grid-area: ele4;
            position: relative;
        }
        
        .destacados .img5 {
            grid-area: ele5;
            position: relative;
        }
        
        .destacados .img6 {
            grid-area: ele6;
            position: relative;
        }
        
        .destacados__imagenes1 {
         
            display: flex;
            justify-content: space-around;
            height: 85px;
            width: 85px;
            object-fit: cover;
            
        }
        
        .texto {
            text-align: center;
             margin-top: 5px;
             font-size: 10px;
        }
        
        .descuentos {
            position: absolute;
            top: 0;
        }
        .marcasdestacadas {
            margin-left: 20%;
            margin-top: 50px;
            font-size: 15px;
            text-transform: uppercase;
            color: #a61212;
            width: 90%;
            max-width: 1600px;
        }
        
        .marcas {
            display: grid;
            
            gap: 10px;
            width: 100%;
            max-width: 599x;
            margin: auto;
            margin-top: 30px;
            object-fit: cover;
            position: relative;
            grid-template-columns:20% 20% 30% 20% ;
            grid-template-rows: 120px 120px;
            justify-content: center;
           
         
            grid-template-areas: 
            "ele1 ele2 ele3 ele4"
            "ele5 ele6 ele7 ele8";
            
        }
        .marcas__1 {
            position: relative;
            object-fit: cover;
        }
        
        .marcas__imagen {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
         
        }
        
        .marcastexto {
            position: absolute;
            top: 0;
            background-color: #a61212;
            color: white;
            width: 100%;
            text-align: center;
            margin: auto;
            font-size: 10px;
         }
        
        .marcas__1--1 {
        grid-area: ele1;
        
        }
        .marcas__1--2 {
            grid-area: ele2;
            
        }
        .marcas__1--3 {
            grid-area: ele3;
            
        }
        .marcas__1--4 {
            grid-area: ele4;
            
        }
        .marcas__1--5 {
            grid-area: ele5;
            
        }
        .marcas__1--6 {
            grid-area: ele7;
            
        }
        .marcas__1--7 {
            grid-area: ele6;
            
        }
        .marcas__1--8 {
            grid-area: ele8;
            
        }
     
        .servicios {
            height: 240px;
            display: flex;
            width:100% ;
             
            font-size: 15px;
            font-style: italic;
            align-content: center;
            justify-content: center;
            margin: auto;
            margin-top: 100px; 
            gap: 5px;
        }
        
        .servicios__asesoramiento {
            height: 180px;
            width: 50%;
            background-color: black;
            position: relative;
        }
        
        .servicios__postventa {
            height: 180px;
            width: 50%;
            background-color: black;
            position: relative;
        }
        
        .servicios__imagenes {
            width: 50%;
            height: 180px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        object-fit: cover;
        } 
        
        .descripcion {
            height: 150px;
            display: flex;
            justify-content: space-around;
        
        }
        .descripcion__1 {
            color: white;
            font-size: 11px;
            width: 50%;
            height: 180px;
            text-align: center;
            padding-top: 50px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: absolute;
        top: 0;
        right: 0;
        }
        
        .descripcion__2 {
            color: white;
            font-size: 11px;
            width: 50%;
            height: 180px;
            text-align: center;
            padding-top: 50px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: absolute;
        top: 0;
        right: 0;
        }
        
        .post__titulo {
            text-transform: uppercase;
            color: #234EB1;
            font-style: normal;
            font-size: 10px;
            font-weight: 800;
            position: absolute;
            top: 10px;
            right: 1%;
            text-align: center;
            width: 50%;
        }
        .post__titulo1 {
            text-transform: uppercase;
            color: #234EB1;
            font-style: normal;
            font-size: 10px;
            font-weight: 800;
            position: absolute;
            top: 10px;
            right: 1%;
            text-align: center;
            width: 50%;
        }


        .redes {
            width: 100%;
            max-width: 599px;
            height: 135px;
            background-color: black;
          
            color: white;
            display: flex;
           
            flex-direction: column;
            position: relative;
            align-items: center;
            margin-top: 152px;
        }
        
        .redes__copy { 
            font-size: 10px;
           
            text-align: center;
            width: 100%;
            margin: auto;
            margin-top: 5px;
         
        }
        
        
        
        .redes__icono {
           
          
           
          margin: auto;
        
       
         
    
            
            
        }
        
        .redes__icono1 {
            width: 30px;
            height: 30px;
            
        }
        
        .redes__icono2 {
            width: 30px;
            height: 30px;
            
        }
        
        .redes__icono3 {
            width: 30px;
            height: 30px;
            
            
        }
        /* otrs paginas*/
        .electrotitulo1 {
        
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-size: 10px;
            width: 80%;
            margin: auto;
            
        }
        
        .electrotitulo2 {
            
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black; 
            font-size: 10px;
            width: 80%;
            margin: auto;
            margin-top: 110px; 
        }
            
        .electrotitulo3 {
             
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black; 
            font-size: 10px;
            width: 80%;
            margin: auto;
        }
        
        .electrotitulo4 {
             margin-top: 190px;
            text-align: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black; 
            font-size: 10px;
            width: 80%;
            margin: auto;
            margin-top: 100px;
        }
        
        .titulos2 {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            width: 80%;
            color: white;
            background: rgb(2,0,36);
            transform: translateY(125px);
            margin: auto;
          }
          .titulos {
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            width: 80%;
            color: white;
            background: rgb(2,0,36);
            
            margin: auto;
        
          }
        
          .destacados1 {
            
            width: 80%;
            max-width: 599px;
            margin: auto;
            list-style-type: none;
            display:grid;
            grid-template-rows: repeat(4, fr);
            grid-template-columns: repeat(3, fr);
            height: 250px;
            margin-top: 150px;
            justify-content: space-evenly;
            gap: 8px;
            object-fit: cover;
            position: relative;
            grid-template-areas: 
            "ele1 ele2 ele3"
            "ele4 ele5 ele6"
            "ele7 ele8 ele9"
            "ele10 ele11 ele12";
           
        }    
     
           
        .destacados1 .img1 {
            grid-area: ele1;
            position: relative;
        }
        
        .destacados1 .img2 {
            grid-area: ele2;
            position: relative;
        }
        
        .destacados1 .img3 {
            grid-area: ele3;
            position: relative;
        }
        
        .destacados1 .img4 {
            grid-area: ele4;
            position: relative;
        }
        
        .destacados1 .img5 {
            grid-area: ele5;
            position: relative;
        }
        
        .destacados1 .img6 {
            grid-area: ele6;
            position: relative;
        }
        .destacados1 .img7 {
            grid-area: ele6;
            position: relative;
        }
        .destacados2 {
            width: 80%;
            max-width: 599px;
            margin: auto;
            list-style-type: none;
            display:grid;
            grid-template-rows: repeat(4, fr);
            grid-template-columns: repeat(3, fr);
            height: 250px;
            margin-top: 30px;
            justify-content: space-evenly;
            gap: 8px;
            object-fit: cover;
            position: relative;
            grid-template-areas: 
            "ele1 ele2 ele3"
            "ele4 ele5 ele6"
            "ele7 ele8 ele9"
            "ele10 ele11 ele12";
        }  
       .destacados1 .img1 {
            grid-area: ele1;
        }
        
        .destacados1 .img2 {
            grid-area: ele2;
        }
        
        .destacados1 .img3 {
            grid-area: ele3;
        }
        
      .destacados1 .img4 {
            grid-area: ele4;
        }
        
        .destacados1 .img5 {
            grid-area: ele5;
        }
        
        .destacados1 .img6 {
            grid-area: ele6;
        }
        .destacados1  .img7 {
            grid-area: ele7;
        }
        .destacados1  .img8 {
            grid-area: ele8;
        }
        .destacados1   .img9 {
            grid-area: ele9;
        }
        .destacados1 .img10 {
            grid-area: ele10;
        }
        .destacados2 .img1 {
            grid-area: ele1;
        }
        
        .destacados2 .img2 {
            grid-area: ele2;
        }
        
        .destacados2 .img3 {
            grid-area: ele3;
        }
        
      .destacados2 .img4 {
            grid-area: ele4;
        }
        
        .destacados2 .img5 {
            grid-area: ele5;
        }
        
        .destacados2 .img6 {
            grid-area: ele6;
        }
        .destacados2  .img7 {
            grid-area: ele7;
        }
        .destacados2  .img8 {
            grid-area: ele8;
        }
        .destacados2   .img9 {
            grid-area: ele9;
        }
        .destacados2 .img10 {
            grid-area: ele10;
        }
        .tabla1 {
            margin-top: 50px;
           
        }   
        
        .tabla2 {
            margin-top: 50px;
        }
        
        .tabla3 {
            margin-top: 50px;
        }
        
        .tabla4 {
            margin-top: 50px;
        }
        
       
        

    










}
.redes1 {
    width: 100%;
    max-width: 599px;
    height: 135px;
    background-color: black;
  
    color: white;
    display: flex;
   
    flex-direction: column;
    position: relative;
    align-items: center;
}

.redes__copy { 
    font-size: 12px;
   
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5px;
 
}



.redes__icono {
   
  
   
  margin: auto;


 

    
    
}

.redes__icono1 {
    width: 30px;
    height: 30px;
    
}

.redes__icono2 {
    width: 30px;
    height: 30px;
    
}

.redes__icono3 {
    width: 30px;
    height: 30px;
    
    
}
/* login y registro*/
.registrogrid {
    display: grid;
    grid-template-columns: 1, fr;
    grid-template-rows: repeat(4, fr); 
    margin: auto;
   font-size: 12px;
    width: 80%;
    justify-content: center;
    text-align: center;
    grid-template-areas: 
    "ele1"
    "ele2"
    "ele3"
    "ele4";
   

   
}

.tituloreg h2{
    
    text-align: center;
    font-size:16px ;
    grid-area: ele1;
   
}
.tituloreg1 {
    text-align: center;
    font-size:16px ;
    grid-area: ele3;
    margin-top: 5px;
   
}
.logingrid {
    justify-content: center;
    grid-area: ele2;
}
.login {
    margin-top: 25px;
  
    justify-content: space-around;
    font-size: 12px;
}

.login__usuario {
    justify-content: center;
    font-size: 12px;

   
}
.usuario {
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.login__contraseña {
    font-size: 12px;
  
}

.login__contraseña1 {
    font-size: 12px;
    text-align: center;
    
}

.registro {
    text-align: center;
 grid-area: ele4;
 justify-content: space-around;
 font-size: 12px;
}

.enviar {
   
   
    
}
.separacion {
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}

    



