.ofertas__destacadas1 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    margin: auto;
    margin-top: 20px;
}
 
.ofertas__destacadas2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}
 
.ofertas__destacadas3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    background: rgb(2,0,36);
    width: 55%;
    
}